@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --fancy: 'Cormorant Garamond', serif;
  --simple: 'Host Grotesk', sans-serif;
  --red: #ff5757;
  --yellow: #ffe785;
  --gray: #737373;
  --pink: #ff99c9;
  --white: #ffffff;
  --green: #8de969;
  --blue: #5d91e8;
  --purple: #5d2e8c;
  --wheat: #fff4e3;
}

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--simple);
 }

.logo{
    width: 330px;
    height: auto;
}

.routes{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.icon{
    height: 110px;
    width: auto;
    cursor: pointer;
}

.title h1{
    text-align: center;
    padding-left: .6rem;
}

.pageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--green);
    background-position: center;
    background-size: auto;
}

.formulario{
    background-color: #ffffff;
    width: 60%;
    border-radius: 2rem;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.form{
    /* background-color: #40C057; */
    width:100% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 80%;
    padding: 20px;
}
.textArea{
    display: flex;
    /* gap: 30px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 20px;

}
.description{
    max-width: 40%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    font-size: large;
    font-family: var(--simple);
    font-weight: 400;
} 
.description p{
    text-align: center;
    font-size: large;
    font-family: var(--simple);
    font-weight: 400;
}

span{
    font-weight: bold;
}

.loginBox{
    background-color: #ff99c9;
    width: 55%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    padding: 25px;
}

.form{
    display: flex;
    /* background-color: #ffe785; */
    gap: 20px;
    height: 100%;
    /* border: 1px solid black; */
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: -3rem;
}

.titleBox{
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: 500;
    font-family: "Cormorant Garamond", serif;
}

h2{
    font-family: var(--fancy);
    font-size: 1.8rem;
}

.TextField{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
    background-color: none;
    height: 30px;
}

.input{
    width: 25em;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--simple);
}

.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#inputBox{
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: -5px;

}

.ou{
    font-size: 1.1rem;
    font-family: var(--simple);
    margin-bottom: 10px;
    color: var(--gray);
}

.cadastrar{
    background-color: var(--red);
    color: #ffffff;
    font-weight: bold;
    width: 8rem;
    margin-top: 5px;
    border: none;
    height: 4rem;
    border-radius: .5rem;
    cursor: pointer;
}

.botaoGoogle{
    background-color: var(--blue);
}

.googleLogo{
    width: 20px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.linha{
  display: flex;
  align-items: center;
  justify-content: flex-start;


}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    font-family: var(--simple);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    font-size: 1.1rem;
    gap: .5rem;
}

.hyperlink{
    color: var(--gray);
    text-decoration: underline;
    cursor: pointer;
}

.cadastroText{
    font-family: var(--simple);
    color: var(--gray);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

Link{
    text-decoration: none;
    color: inherit;
}

.visivel{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}