@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --fancy: 'Cormorant Garamond', serif;
  --simple: 'Host Grotesk', sans-serif;
  --red: #ff5757;
  --yellow: #ffe785;
  --gray: #737373;
  --pink: #ff99c9;
  --white: #ffffff;
  --green: #8de969;
  --muted-green: #87bba2;
  --blue: #5d91e8;
  --purple: #5d2e8c;
  --vivid-purple: #8156f6;
  --wheat: #fff4e3;
  --orange: #ffd699;
}


#logoGinKQuiz{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-bottom: 20px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

      #divTables{
          display: flex;
          justify-content: center;
          width: 20rem;
          height: auto;
      }
                #tabela{
                    width: 200px;
                    margin-left: auto;
                    margin-right: auto;
                }

                #tabelaMateriasContainer{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--vivid-purple);
                    width: 15rem;
                    border-radius: 1.5rem;
                    gap: 5px;
                    padding-top: 5px;
                    height: 33rem;
                }
                        #tabelaMaterias{
                            cursor: pointer;
                            text-align: center;
                            padding: 10px;
                            background-color: var(--yellow);
                            width: 150px;
                            margin-top: 1rem;
                            margin-bottom: .5rem;
                            font-size: 1rem;
                            height: 1rem;
                            border-radius: 25px;
                        }


                #tabelaPerguntasContainer{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    background-color: var(--yellow);
                    height: 33rem;
                    border-radius: 1.875rem;
                }
                          #tabelaPerguntas{
                              width: 400px;
                              margin-left: 2rem;
                              margin-right: 2rem;
                              display: table;
                              border-collapse: collapse;
                          }

                          #tabelaPerguntas td{
                              background-color: var(--blue);
                              width: 9rem;
                              padding: 2px 5px;
                              border-bottom: 2px solid var(--yellow);
                              font-size: 0.9rem;
                              line-height: 1.2;
                          }
                          #tabelaPerguntas tr:last-child td{
                              border-bottom: none;
                          }
                          #tabelaPerguntas tr{
                              border-radius: 1.25rem;
                          }
                          #tabelaPerguntas td:first-child{
                              border-top-left-radius: 25px;
                              border-bottom-left-radius: 25px;
                              padding: 5px 10px;
                          }
                          #tabelaPerguntas td:last-child{
                              border-top-right-radius: 25px;
                              border-bottom-right-radius: 25px;
                          }
                          #tabelaPerguntas td:nth-child(2){
                              width: 2.2rem;
                          }

                #atualizarTema{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 25px;
                }

                #containercriarnova a{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  background-color: var(--pink);
                  width: 13rem;
                  height: 2.5rem;
                  margin-top: 1rem;
                  margin-bottom: 1rem;
                  border-radius: 25px;
                  text-decoration: none;
                  color: var(--wheat);
                  font-size: 1rem;
                          margin-left: 0rem;

                }
                 #containercriarnova td{
                  display: flex;
                  flex-direction: column;
                  background-color: var(--pink);
                  width: 13rem;
                  align-items: center;
                  margin-left: 2rem;
                          margin-left: 9rem;


                }
                      #criarnova{
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                          text-align: center;
                          margin-top: 15px;
                          font-size: .9rem;
                          margin-left: 0rem;
                      } 
                      #criarnova td{
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                          text-align: center;
                          margin-top: 15px;
                          font-size: .9rem;
                          background-color: var(--pink);
                      } 

                #botaoSair{
                            width: 1.8rem;
                            height: 1.8rem;
                            /* margin-top: 2rem; */
                            background-color: var(--red);
                            border-radius: 12px;
                            border: none;
                            color: var(--wheat);
                            font-size: 1.2rem;
                            cursor: pointer;
                            padding-top: 3px;
                }
                #botaoSair svg.bi.bi-x-circle{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            padding-top: 5px;
                        }
                        #botaoSair:hover{
                            background-color: var(--pink);
                            color: var(--gray); }


                #atualizarTema{
                            width: 1.8rem;
                            height: 1.8rem;
                            background-color: var(--muted-green);
                            border: none;
                            color: var(--wheat);
                            font-size: 1.2rem;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 5rem;
                }
                #atualizarTema svg.bi.bi-pencil-square{
                           padding: 3px;
                }
                #atualizarTema:hover{
                            background-color: var(--green);
                            color: var(--wheat); }  