version: "3.9"

services:
  frontend:
    build: .
    container_name: frontend_vite
    ports:
      - "5173:5173"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev -- --host
