@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --fancy: 'Cormorant Garamond', serif;
  --simple: 'Host Grotesk', sans-serif;
  --red: #ff5757;
  --yellow: #ffe785;
  --gray: #737373;
  --pink: #ff99c9;
  --white: #ffffff;
  --green: #8de969;
  --muted-green: #87bba2;
  --blue: #5d91e8;
  --purple: #5d2e8c;
  --vivid-purple: #8156f6;
  --wheat: #fff4e3;
  --orange: #ffd699;
}

#all{
    position: relative;
}

.box{
    height: 100%;
    width: 100%;
    font-family: var(--simple);
    background-color: var(--pink);
}

.perfilbar{
    display: flex;
    flex-direction: row;
}
        img{
            margin-top: 1rem;
            margin-left: 2rem;
        }
        #perfil{
            display: flex;
            height: 3rem;
            width: 3rem;
        }

        #bar{
            display: flex;
            border: solid 3px black;
            background-color: black;
            height: 5px;
            width: 58rem;
            border-radius: 10px;
            margin-top: 2rem;
            margin-left: 2rem;
        }

.header{
    display: flex;
    justify-content: space-between;
}        

        .namedesc h1{
            align-items: flex-start;
            margin-left: 2rem;
            color: black;
            font-size: 4.5rem;
            font-family: var(--fancy);

        }

        p{
            align-items: flex-start;
            margin-left: 2rem;
            color: black;
            font-size: 1.8rem;
            font-weight: bolder;
            font-family: var(--fancy);
            margin-top: 1rem;
        }
        
        .namedesc h2{
            align-items: flex-start;
            margin-left: 2rem;
            color: black;
            font-size: 1.8rem;
            font-weight: bolder;
            font-family: var(--fancy);
            margin-top: .5rem;
        }

        #howmanymembers{
            display: flex;
            align-items: flex-start;
            margin-right: 7rem;
            margin-top: -0.5rem;
            font-size: 1.3rem;
            font-weight: bolder;
        }

.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

        .tableuser{
            display: flex;
            flex-direction: column;
        }
                .infouser{
                    display: flex;
                    flex-direction: row;
                    width: 32rem;
                    margin-bottom: 2rem;

                }
                        .user{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            align-items: center;
                        }
                        .user p{
                            font-size: 1.4rem;
                            font-family: var(--simple);
                        }

                        .botoes{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            justify-content: space-around;
                            align-items: center;

                        }
                                #graph{
                                    background-color: var(--purple);
                                    cursor: pointer;
                                    
                                }

                                #quit{
                                    background-color: var(--red);
                                    cursor: pointer;
                                }

                        .button{
                            width: 11rem;
                            height: 2.4rem;
                            border-radius: 25px;
                            font-family: var(--fancy);
                            font-size: 1.3rem;
                            font-weight: bold;
                            color: var(--wheat);
                            border: none;
                            cursor: pointer;


                        }

                .scrollableTable{
                    max-height: 10rem;
                    overflow-y: scroll;
                }

                .member{
                    width: 20rem;
                    background-color: var(--yellow);
                    height: 1rem;
                    border-top-left-radius: 20px;
                }
                .pointsbymember{
                    width: 12rem;
                    background-color: var(--yellow);
                    height: 1rem;
                    border-top-right-radius: 20px;
                }

            
                td{
                    height: 2.3rem;
                }
                
        .points{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 2.9rem;
            margin-top: 6rem;
        }
                #rankposition{
                    width: 12.5rem;
                    height: 2.6rem;
                    margin-top: 5rem;
                    font-family: var(--fancy);
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: var(--purple);
                    background-color: var(--wheat);
                }
        .points p{
            font-size: 4rem;
            margin: 0;
        }

        .points h2{
            font-size: 2rem;
            text-align: center;
        }



.grafico{
    background-color: var(--muted-green);
    border-radius: 15px;
    width: 600px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.46);
    overflow: none;
}

.closeButton{
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--red);
    color: var(--white);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    z-index: 1000;
}

.closeButton:hover{
    background: #ff3333;
}

