.container{
    /* background-color: #ffe785; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paginaErro{
    padding: 10px;
    overflow: hidden;
    text-align: center;
     background-image: url("../../../assets/icons/BackgroundGinKQuiz.png");
     background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    width: 100vw;
    height: 100vh;
}

.boxContent{
    height: 60%;
    background-color: #ffe785;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding: 30px;
}

.input{

    text-align: center;
    outline: none;
    border: none;
    border-bottom:1px solid black ;
    background-color: #ffe785;
}

.bounce {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.1); }
  60%  { transform: scale(0.95); }
  100% { transform: scale(1); }
}