.container{
    /* background-color: #ffe785; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paginaErro{
    padding: 10px;
    overflow: hidden;
    text-align: center;
     background-image: url("../../../assets/icons/BackgroundGinKQuiz.png");
     background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    width: 100vw;
    height: 100vh;
}