.container{
    /* background-color: #ffe785; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paginaErro{
    padding: 10px;
    overflow: hidden;
    text-align: center;
     background-image: url("../../../assets/icons/BackgroundGinKQuiz.png");
     background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    width: 100vw;
    height: 100vh;
}

.boxContent{
    height: 60%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input{
    outline: none;
    border: none;
    border-bottom:1px solid black ;
    background-color: aqua;
}