@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --fancy: 'Cormorant Garamond', serif;
  --simple: 'Host Grotesk', sans-serif;
  --red: #ff5757;
  --yellow: #ffe785;
  --gray: #737373;
  --pink: #ff99c9;
  --white: #ffffff;
  --green: #8de969;
  --muted-green: #87bba2;
  --blue: #5d91e8;
  --purple: #5d2e8c;
  --vivid-purple: #8156f6;
  --wheat: #fff4e3;
  --orange: #ffd699;
  --cyan: #6ce5e8;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  background-color: var(--cyan);
  width: 60%;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.enunciado {
  width: 90%;
  height: 3rem;
  font-size: 1.5rem;
  font-family: var(--fancy);
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--gray);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  outline: none;
}

.enunciado:focus {
  outline: none;
}

.enunciado::placeholder {
  color: var(--gray);
}

.containeralt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.alt1e2,
.alt3e4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  outline: none;
  border: none;
  gap: 1rem;
}

.alternativas {
  flex: 1;
  height: 2.5rem;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 1rem;
  font-family: var(--simple);
  background-color: var(--white);
  color: var(--gray);
  border: none;
  outline: none;

}

.alternativas:focus {
  outline: none;
}

.checkboxes {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white);
  transition: background-color 0.2s;
  border: none;
  outline: none;


}

.checkboxes:checked {
  background-color: var(--green);
  border: none;
  outline: none;

}

.criarpergunta {
  background-color: var(--pink);
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: var(--fancy);
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  outline: none;
}

.criarpergunta:hover {
  background-color: var(--red);
  transform: scale(1.05);
  border: 2px solid var(--blue);
}

.criarpergunta:active {
  transform: scale(0.95);
}

.button{
  margin-top: 2rem;
  width: 6rem;
  border-radius: 1rem;
  background-color: var(--pink);
  outline: none;
}
.lista_dicas{
  display: flex;
  flex-direction: column;
  gap: 3px;

}
