


.rankingsContainer{
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
}


.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cabecalho h1{
  margin-left: 34rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.cabecalho a{
  margin-left: 10rem;
}

.rankingsContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#buttonsFilterTable{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  
}

#buttonsFilterTable button{
  border-radius: 1rem;
  width: 10rem;
  height: 3rem;
  border: none;
  font-size: 1.2rem;
}

#buttonsFilterTableUse{
  background-color: var(--red);
}

#buttonsFilterTableNoUse{
  background-color: var(--gray);
}

.tabelaRankings{
  display: flex;
  align-items: center;
  justify-content: center;
}

#mostrarTabela{
  display: block;
  width: 60rem;

}

#mostrarTabela thead{
  position: sticky;
  top: 0;
  background-color: var(--yellow);
  z-index: 1;
  
}

#mostrarTabela th{
  width: 15rem;
}
#mostrarTabela td{
  width: 15rem;
}

#esconderTabela{
  display: none;
}

.scrollTable {
  max-height: 400px;
  overflow-y: auto;
}

.rodape{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.rodape button{
  border-radius: 1rem;
  width: 10rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  margin-top: 2rem;
  background-color: var(--red);
  color: black !important;
  text-decoration: none !important;
}

#selectNone{
  display: none;
}

#selectShow{
  border-radius: 1rem;
  width: 10rem;
  height: 3rem;
  border: 2px solid black;
  font-size: 1rem;
  margin-top: 2rem;
}

#selectShow:placeholder{
  color: black;
}