.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 0;
    background-color: var(--yellow);
}

.box2{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150%;
    height: 100%;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

.logo{
    width: 300px;
    height: auto;
    /* margin-bottom: -30px; */
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.jogar{
    width: 250px;
    height: 65px;
    border-radius: 50px;
    border: none;
    font-size: 2.1rem;
    cursor: pointer;
    font-family: var(--fancy);
    /* margin-top: 80px; */
    font-weight: bolder;
    color: var(--wheat);
    background-color: var(--blue);
    text-align: end;
    padding-right: 55px;
}

.rankings{
    width: 250px;
    height: 65px;
    border-radius: 50px;
    border: none;
    /* margin-bottom: 80px; */
    font-size: 2.1rem;
    cursor: pointer;
    font-family: var(--fancy);
    font-weight: bolder;
    color: var(--wheat);
    background-color: var(--muted-green);
    text-align: end;
    padding-right: 15px;
}

.headbox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1{
    font-size: 4rem;
    font-family: var(--fancy);
    font-weight: 600;
    /* margin-bottom: 3%; */
}

input{
    width: 300px;
    height: 40px;
    font-size: 1.2rem;
    font-family: var(--fancy);
    font-weight: 700;
    padding: 10px 10px;
    /* margin-bottom: 5%; */
    border-radius: 20px;
    border: none;
    background-color: var(--wheat);
    color: var(--gray);
    margin-bottom: 10px;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 85%;
}

.tabela{
    /* border: 2px solid black; */
    /* border-collapse: collapse; */
    width: 70%;
    max-width: 600px;
    gap: 10px;
    border-collapse: collapse;
}

.tabela.hasScroll{
    max-height: 300px;
    overflow-y: scroll;
    display: block;
}

th{
    /* border: 1px solid black; */
    padding: 15px;
    font-size: 1.5rem;
    font-family: var(--fancy);
    background-color: var(--orange);
    position: sticky;
    top: 0;
}

td{
    /* border: 1px solid black; */
    text-align: center;
    padding: 2px;
    font-size: 0.9rem;
    font-family: var(--simple);
    background-color: var(--wheat);
}

.nome_equipe{
    text-align: left;
    padding-left: 15px;
    width: 200px;
}

td:first-child:hover{
    background-color: var(--green);
    cursor: pointer;
}

.entrarButton{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--red);
    color: var(--wheat);
    cursor: pointer;
    font-size: 1rem;
}

.entrarButton:hover{
    background-color: var(--pink);
    color: var(--gray);
}

.descricao{
    margin-top: 20px;
    width: 50%;
    height: auto;
    max-width: 600px;
    font-size: 1.2rem;
    font-family: var(--simple);
    text-align: center;
}

.scrollableTable{
    max-height: 150px;
    overflow-y: scroll;
}

.scrollableTable.withScroll{
    max-height: 300px;
    overflow-y: scroll;
}

.criarButton{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: var(--pink);
    color: var(--wheat);
    font-size: 1.2rem;
    font-family: var(--fancy);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

@media 