@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--simple);
 }

.logo{
    width: 330px;
    height: auto;
}

.routes{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.icon{
    height: 120px;
    width: auto;
    cursor: pointer;
}

.pageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-image: url("../../../assets/icons/BackgroundGinKQuiz.png");
    background-position: center;
    background-size: auto;
}

.textContainer{
    background-color: var(--white);
    width: 40%;
    height: 100%;
}
.formContainer{
    /* background-color: #40C057; */
    width:60% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textArea{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;

}
.description{
    max-width: 60%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    font-size: large;
    font-family: var(--simple);
}

span{
    font-weight: bold;
}

.loginBox{
    background-color: #ff99c9;
    width: 55%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    padding: 25px;
}

.form{
    display: flex;
    /* background-color: #ffe785; */
    gap: 20px;
    /* border: 1px solid black; */
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.titleBox{
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: 500;
    font-family: "Cormorant Garamond", serif;
}

h2{
    font-family: var(--fancy);
    font-size: 1.8rem;
}

.TextField{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
    background-color: none;
    height: 30px;
}

.inputField{
    width: 27rem;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Host Grotesk', sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#inputBox{
    margin-top: 30px;
    margin-bottom: -5px;

}

.ou{
    font-size: 1.1rem;
    font-family: var(--simple);
    margin-bottom: 10px;
    color: var(--gray);
}

.Button{
    background-color: var(--red);
    background-color: #737373;
    color: #ffffff;
    font-weight: bold;
    width: fit-content;
    margin-top: 5px;
}

.botaoGoogle{
    background-color: var(--red);
}

.googleLogo{
    width: 20px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}
.p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    font-family: var(--simple);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    font-size: 1.1rem;
}

.hyperlink{
    color: var(--gray);
    text-decoration: underline;
    cursor: pointer;
}

.cadastroText{
    font-family: var(--simple);
    color: var(--gray);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

Link{
    text-decoration: none;
    color: inherit;
}