@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --fancy: 'Cormorant Garamond', serif;
  --simple: 'Host Grotesk', sans-serif;
  --red: #ff5757;
  --yellow: #ffe785;
  --gray: #737373;
  --pink: #ff99c9;
  --white: #ffffff;
  --green: #8de969;
  --muted-green: #87bba2;
  --blue: #5d91e8;
  --purple: #5d2e8c;
  --wheat: #fff4e3;
  --orange: #ffd699;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    padding: 30px;
    background-color: #ffffff;
    width: 40%;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

label{
    font-family: 'Host Grotesk', sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-right: 5px;
    color: black;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.input{
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--gray);
    padding: 10px;
    font-size: 1rem;
    font-family: 'Host Grotesk', sans-serif;
    background-color: var(--white);
}

#UsuarioNome{
    border: solid 2px var(--pink);
    color: var(--pink);
}
#UsuarioNome:focus{
    border-color: var(--pink) !important;
    color: var(--pink);
    outline: none;
}

#UsuarioEmail{
    border: solid 2px var(--red);
    color: var(--red);
}
#UsuarioEmail:focus{
    border-color: var(--red) !important;
    color: var(--red);
    outline: none;
}

.emailFoto{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.imagemdeperfil{
    width: 5rem;
    height: 5rem;
    border-radius: 30px;
    object-fit: cover;
    margin-left: -8px;
}

#UsuarioFotoDePerfil{
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.opt{
    background-color: var(--white);
    color: var(--blue);
    border: none;
}

#UsuarioSenha{
    border: solid 2px var(--orange);
    width: 200px;
    color: var(--orange);
}
#UsuarioSenha:focus{
    border-color: var(--orange) !important;
    color: var(--orange);
    outline: none;
}

#UsuarioConfirmarSenha{
    border: solid 2px var(--purple);
    width: 200px;
    color: var(--purple);
}
#UsuarioConfirmarSenha:focus{
    border-color: var(--purple) !important;
    color: var(--purple);
    outline: none;
}

#UsuarioDataNascimento{
    border: solid 2px var(--blue);
    width: 150px;
    color: var(--blue);
}
#UsuarioDataNascimento:focus{
    border-color: var(--blue) !important;
    color: var(--blue);
    outline: none;
}

.cadastrar{
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: var(--muted-green);
    color: var(--white);
    font-family: 'Host Grotesk', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.genero {
    margin-left: .9rem;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1px;
}

.homem {
    background-color: var(--blue);
    color: var(--white);
    border: none;
}
.mulher {
    background-color: var(--pink);
    color: var(--white);
    border: none;
}
.neutro {
    background-color: var(--orange);
    color: var(--white);
    border: none;
}

.termosMaisEmail{
    display: flex;
    flex-direction: column;
}

.checkbox{
    width: 10px;
    height: 10px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    cursor: pointer;
}

.checkboxAtivo{
    background-color: var(--green);
    border: none;
}

.linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.terminho{
    font-size: 0.8rem;
    color: black;
}