.container{
    width: 100vw;
    height: 100vh;
    background-color: #ffe785;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    padding: 30px;
    background-color: #ffffff;
    width: 40%;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.input{
    outline: none;
    padding: 5px;
}