@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --fancy: 'Cormorant Garamond', serif;
  --simple: 'Host Grotesk', sans-serif;
  --red: #ff5757;
  --yellow: #ffe785;
  --gray: #737373;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Host Grotesk', sans-serif;
}

.App {
  text-align: center;
}