@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --fancy: 'Cormorant Garamond', serif;
  --simple: 'Host Grotesk', sans-serif;
  --red: #ff5757;
  --yellow: #ffe785;
  --gray: #737373;
  --pink: #ff99c9;
  --white: #ffffff;
  --green: #8de969;
  --muted-green: #87bba2;
  --blue: #5d91e8;
  --purple: #5d2e8c;
  --vivid-purple: #8156f6;
  --wheat: #fff4e3;
  --orange: #ffd699;
}

html{
  width: 100vw;
  height: 100vh;
}

.criarClaContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  font-family: var(--simple);
  height: 100vh;
  width: 100vw;
  background-color: var(--wheat);
}

.ContainerNovoCla{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 25rem;
  gap: .63rem;
  background-color: var(--vivid-purple);
  border-radius: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
}

h1{
  color: var(--white);
}

.label{
  display: flex;
  align-items: center;
  color: var(--wheat);
  margin-top: .8rem;
}

.input{
  width: 19rem;
  margin-left: 1rem;
  margin-top: .8rem;
  border: 2px solid var(--pink);
  border-radius: 25px;
  height: 2.2rem;
  padding-left: 10px;
}

.input:focus{
  border: 2px solid var(--pink) !important;
  outline: none;
}

option{
  border: none;
  background-color: var(--green);
}
option:focus{
  border: none !important;
  outline: none !important;
  background-color: var(--green);
}

select{
  padding-left: 5px;
  display: flex;
  align-items: center;
  width: 4.5rem;
  height: 2rem;
  border: solid 2px var(--blue);
  color: var(--blue);
  border-radius: 20px;
  margin-left: 1rem;
  margin-top: .8rem;
}

select:focus{
  border-color: var(--yellow) !important;
}

#buttonCriarCla{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 41%;
  margin-top: .8rem;
  width: 5.8rem;
  height: 3rem;
  border-radius: 1.25rem;
  background-color: var(--yellow);
  color: var(--vivid-purple);
  outline: none;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}