.container{
    background-color: #ffe785;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.box2{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tabela{
    border: 2px solid black;
    /* border-collapse: collapse; */
    /* max-height: 10px; */
    max-height: 200px;
    height: 20%;
    overflow: scroll; 
    background-color: white;
}